* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
}

#box {
  width: 270px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgba(64, 196, 198, 0.775);
  padding: 15px;
}

#input-box {
  margin-bottom: 10px;
  color: #222;
}

#addBtn {
  background-color: rgba(87, 241, 21, 0.819);
  color: #222;
  font-weight: 600;
  font-size: 1rem;
  padding: 5px 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#delete {
  background-color: coral;
  color: #222;
  font-weight: 600;
  font-size: 1rem;
  padding: 5px 5px;
  border-radius: 5px;
  margin-left: 15px;
}

ul {
  list-style: none;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  column-gap: 5px;
  color: white;
}
