*{
 margin:0;
 padding:0;
 box-sizing : border-box;
 font-family: Helvetica, sans-serif;
}
 
html,body
{
 width:100%;
 height:100%;
}
body{
 background-color:#111;
 color:#fff;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: blueviolet;
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 600;
  position: relative;
  z-index: 9;
}
