* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
  color: #fff;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(pink, blue, rgb(89, 0, 255));
}

.card {
  position: relative;
  width: 400px;
  height: 500px;
  padding: 30px;
  border: 2px solid white;
  background: linear-gradient(rgb(205, 1, 212), rgb(85, 0, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: blur(1px);
  border: 2px solid white;
  cursor: pointer;
}

.card i#like {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 7rem;
  color: transparent;
  background: linear-gradient(to right bottom, #ff5f6d, #ffc371, #833ab4);
  -webkit-background-clip: text;
  background-clip: text;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  animation: none;
}

.card i#like.show {
  animation: heartPop 0.6s forwards;
}

@keyframes heartPop {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}


.fh {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.5rem;
  color: transparent;
  background: linear-gradient(to right bottom, #ff5f6d, #ffc371, #833ab4);
  -webkit-background-clip: text;
  background-clip: text;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: all 0.6s ease-out;
}
