* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #111;
  color: #fff;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(pink, blue, rgb(89, 0, 255));
}

.card {
  position: relative;
  width: 400px;
  height: 500px;
  padding: 30px;
  border: 2px solid white;
  background: linear-gradient(rgb(205, 1, 212), rgb(85, 0, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  filter: blur(2px);
  border: 2px solid white;
}

.card i#like {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 7rem;
  transform: translate(-50%, -50%) scale(0) rotate(30deg);
  transition: all ease cubic-bezier(.53,.17,.5,1.15);
  opacity: 0;
  color: transparent;
  background: linear-gradient(to right bottom, #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  background-size: cover;
  -webkit-background-clip: text;
}
