* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:cursive, Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("https://i.pinimg.com/736x/ae/d3/cf/aed3cf1596fc11521fb0fd03df3b1d65.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: background-image  0.6s ease-in-out;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 20px;
}

.card {
  width: min(92%, 380px);
  padding: 28px 24px;
  text-align: center;
  border-radius: 22px;
  backdrop-filter: blur(5px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.35);
  background: linear-gradient(135deg,rgba(0, 0, 0, 0.225),rgba(255, 255, 255, 0.285));
}

.affirmation {
  color: #fff;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: clamp(18px, 4.5vw, 26px);
}

button {
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 12px 26px;
  border-radius: 999px;

  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  background: linear-gradient(135deg,rgb(201, 255, 126),rgb(45, 175, 226));
  transition: transform 0.2s ease;
}

button:active {
  transform: scale(0.95);
}